/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$theme-brown: #af8b5c;
$theme-grey: #1d1f21;
$theme-black: black;

/* Colors */
$body-bg: $theme-brown;
$body-color: $theme-grey;
$link-color: $theme-black;

/* Fonts */
$font-family-sans-serif: "Montserrat", sans-serif;

/*-- scss:rules --*/

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  color: $theme-grey;
}

.navbar * {
  color: $theme-grey ;
}
   
span.navbar-title:hover {
  color: lighten($theme-grey, 50%);
  transition-duration: 0.5s;
} 